

body {
	background-color: lightblue
}
.footer 
{
	text-align: center;
	height: 100px;
	background-color: rgb(200,200,200);
}
.main {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 300px;
}
.signin {
	border :solid black;
	float: right;
	/*position: fixed;*/
	height: 500px;
	width: 282px;
}
.map {
	border :solid black;
	height: 600px;
	width: 80%;
}
.postlink {
	background-color: rgba(222,222,222,0.5);
	margin-bottom: 30px;
	border :solid 1px ;
} 
