<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
		<script src="{{ url_for('static', filename='js/map.js') }}"></script>
		<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap">
	 	</script>
		<title>Partition History</title>
	</head>

	<body>
	
		<header class="head">The Partition History</header>
		<div class="nav">
			<li><a href="#"><h2>Home</h2></a></li>
			<li><a href="#"><h2>tab1</h2></a></li>
			<li><a href="#"><h2>tab2</h2></a></li>
			<li><a href="#"><h2>Support Us</h2></a></li>
			<li><a href="#"><h2>About Us</h2></a></li>
		</div>
		<div class="signin">
			<br></br>
			<h1 style="border:solid green;text-align: center;">Log in</h1>
			<br></br>
			<form style="text-align: center">
				<h3>User Name:</h3>
				<input style ="background-color: lightblue; height: 20px" type="text" name="username">
				<br></br>
				<h3>Password:</h3>
				<input style ="background-color: lightblue; height: 20px" type="password" name="username">
				<br></br>
				<input type="submit" value="Login" style="height:30px; width: 60px ">
			</form>
			<br></br>
			<h4>Create Account<a href="#signup"> <button style="height:30px; width: 120px "> Signup</button> </a> </h4>
		</div>
		<div class="main">
			<div class="GIF" id="map">
			</div>
			<div class="post">
				<a href="#post1"><h1>Post 1</h1></a>
			</div>
			<div class="post">
				<a href="#post1" ><h1>Post 2</h1></a>
			</div>
			<div class="post">
				<a href="#post1" ><h1>Post 3</h1></a>
			</div>
			<div class="post">
				<a href="#post2" ><h1>Post 4</h1></a>
			</div>
			<div class="post">
				<a href="#post2" ><h1>Post 5</h1></a>
			</div>
			<div class="post">
				<a href="#post2" ><h1>Post 6</h1></a>
			</div>
			<div class="post">
				<a href="#post2" ><h1>Post 7</h1></a>
			</div>
		</div>			
		<div class="footer">
			<!-- <h1>END</h1> -->
			<br></br>
			<a href="#"><h3>About</a> |
			<a href="#">help</a> |
			<a href="#">Licence</a> |
			<a href="#">Contact Us</h3></a>
		</div>
	</body>
</html>