{% extends "template.html" %}

{% block extra_head %}
    <title>Make post</title>
	
	<link rel="stylesheet" href="{{ url_for('static', filename='css/makeapost.css') }}">
	<script src="{{ url_for('static', filename='js/map.js') }}"></script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap">
	</script>
{% endblock %}

{% block main_content %}
<form class="space" action="/makepost" method="POST">
	<p style="color:blue"><b>Title</b></p>
	<textarea style="background-color: #888; border-radius: 10px" rows="1" cols="20" name="usrtxt" wrap="hard" >
	</textarea>
	<p style="color:blue"><b>Content</b></p>
	<textarea style="background-color: #888; border-radius: 10px" rows="6" cols="100" name="usrtxt" wrap="hard" >
	</textarea>
	<p style="color:blue"><b>Language:</b></p>
	<textarea style="background-color: #888; border-radius: 10px" rows="8" cols="100" name="usrtxt" wrap="hard">
	</textarea>
	<p style="color:blue"><b>Culture:</b></p>
	<textarea style="background-color: #888; border-radius: 10px" rows="8" cols="100" name="usrtxt" wrap="hard">
	</textarea>
	<p style="color:blue"><b>Whatever is left:</b></p>
	<textarea style="background-color: #888; border-radius: 10px" rows="8" cols="100" name="usrtxt" wrap="hard">
	</textarea> 
	<textarea id="content" name="content" rows="8" cols="100"></textarea>
	<p style="color:blue"><b>youtube link:</b></p>
	<input id="ytb" name="ytb"></input>
	<br>
	<button type="submit" class="submitit">Submit</button>
</form>
{% endblock main_content %}
