{% extends "template.html" %}

{% block extra_head %}
    <title>Make post</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	</script>
{% endblock %}

{% block main_content %}
<form class="space" action="/makepost" method="POST">
	<fieldset class="form-group">
		<label for="title" class="bmd-label-static">Title</label>
		<input name="title" id="title" class="form-control" style="opacity: 0.85;" placeholder="Title"></input>
	</fieldset>
	<fieldset class="form-group">
		<label for="content" class="bmd-label-static">Content</label>
		<textarea rows="30" style="width:100%; opacity: 0.85;" class="form-control" name="content" id="content"></textarea>
	</fieldset>
	<fieldset class="form-group">
		<label for="ytb" class="bmd-label-static">YouTube Video</label>
		<input name="ytb" id="ytb" class="form-control" style="opacity: 0.85;" placeholder="Video Link"></input>
	</fieldset>

	<label class="bmd-label-static">Source</label>
	<div class="input-group">
		<input name="coord1" id="coord1" class="form-control" style="opacity: 0.85; width: 100px;" placeholder="Latitude"></input>
		<input name="coord2" id="coord2" class="form-control" style="opacity: 0.85; width: 100px;" placeholder="Longitude"></input>
	</div>

	<label class="bmd-label-static">Destination</label>
	<div class="input-group">
		<input name="coord3" id="coord3" class="form-control" style="opacity: 0.85; width: 100px;" placeholder="Latitude"></input>
		<input name="coord4" id="coord4" class="form-control" style="opacity: 0.85; width: 100px;" placeholder="Longitude"></input>
	</div>

	<br>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock main_content %}
