{% extends "template.html" %}

{% block extra_head %}
    {% if msg=="top" %}
    <title>Top posts</title>
    {% elif msg=="latest" %}
        <title>Latest posts</title>
    {% elif msg=="search" %}
        <title>Search result</title>
    {% endif %}
    <script>
        function setActive() {
            var element = document.getElementById('{{msg}}');
            element.classList.add("active");
        }
    </script>
{% endblock %}

{% block main_content %}
    {% for post in posts %}
    <div class="post">
        <div class="votes">
            <p style="color: green;"><span class="glyphicon glyphicon glyphicon-chevron-up"></span> {{ post[2] }}</p>
            <p style="color: red"><span class="glyphicon glyphicon glyphicon-chevron-down"></span> {{ post[3] }}</p>
        </div>
        <div class="postlink">
            <header>
                <a href="{{url_for('post', post_id = post[0]) }}" style="font-size:30px;">{{ post[1] }}</a>
                    by <a href="{{url_for('profile', user = 'post[6]')}}"><b>{{ post[6] }}</b></a>
                    on <b>{{ post[5] }}</b>
            </header>					
            <p>{{ post[4][:20] }}...</p>
        </div>
    </div>
    {% endfor %}
{% endblock main_content %}