{% extends "template.html" %}

{% block extra_head %}
    <title>Dashboard</title>
{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    
                    <div class="col-sm-6 col-md-8">
                        {% if user %}
                        <h4>Username : {{user[0][0]}}</h4>
                        <h4>Name : {{user[0][1]}}</h4>
                        {%endif%}
                        
                        <p>
                            <!--i class="glyphicon glyphicon-envelope"></i-->
                            <h4>Email : {{user[0][2]}}</h4>
                            <br />
                            <!--i class="glyphicon glyphicon-"></i> At present he has no links linked-->
                            {%for p in post%}
                            <div>
                                <a href="{{url_for('post', post_id = p[0]) }}"><h4>{{p[1]}}</h4></a>
                            </div>
                        {% endfor%}
                        
                        {%if user[0][3]==1 %}
                        <h4><span class="glyphicon glyphicon-star"></span> Moderator</h4>
                        {% endif%}
                        
                        {%if user[0][4]==1 %}
                        <h4><span class="glyphicon glyphicon-star"></span> Admin</h4>
                        {% endif%}
                        
                        <h4>Contributions : {{user[0][5]}}</h4>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}